/*Basic html css*/
body {
    font-family: Helvetica,Arial,freesans,sans-serif;
    font-size: 95%;
    max-width: 100%;
    display: block;
    margin: 0px !important;
}

root {
    width: auto;
    height: 100%;
    overflow: auto;
    display: block;
}

/*App.js css*/

.page {
    width: auto;
    height: 100%;
    overflow: auto;
    display: block;
}

/*TitleBar.js css*/
.logo {
    float: left;
    transform: rotate(90deg);
    height: 120px;
    width: 150px;
}

.app-title {
    float: left;
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 45px;
}

.rotate90 {
    transform: rotate(90deg);
    height: 120px;
    width: 150px;
}

.title-bar {
    background-color: #4CAF50;
    display: inline-block;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 135px;
}

/*UserGeneration.js css*/
.users-text {
    text-align: center;
}

.username {
    text-align: center;
    font-weight: bold;
}

.chatroom-button {
    font-family: Helvetica,Arial,freesans,sans-serif;
    font-style: italic;
    font-weight: bold;
    background-color: #4CAF50;
    padding: 15px 32px;
    color: white;
    font-size: 18px;
}

/*ChatBox.js css*/

.messages {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border: 25px solid #4CAF50;
}

.messages-container {
    background-color: white;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.messages-form {
    width: auto;
    background-color: white;
    display: block;
}

.message-text textarea input {
    /*margin: 15px;*/
    border: none;
    background: #f1f1f1;
    resize: none;
    display: inline-block;
}

.chat-title {
}

.button-send {
    margin-bottom: 10px;
}

.button-exit {
    float: right;
    font-family: Helvetica,Arial,freesans,sans-serif;
    background-color: #4CAF50;
    padding: 15px 32px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
    margin-right: 5px;
}

/*MessageList.js css*/

.chat-title {
    float: left;
    color: black;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 45px;
}

.messages-list {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-top: 5px;
    background-color: #EEEEEE;
    padding-bottom: 5px;
}

.messages-item {
    width: auto;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EEEEEE;
    height: auto;
}

.message-content {
    width: auto;
    vertical-align: top;
    background-color: white;
    border: 1px solid #DDDDDD;
    padding-left: 10px;
    padding-right: 10px;
}

.message-content p {
    font-size: 12px;
}

.tooltip {
    width: 175px;
    position: relative;
    font-size: 10px;
}

.tooltip .tooltip-datetime {
    visibility: hidden;
    width: 175px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltip-datetime {
    visibility: visible;
}